<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text = "${name}"></p>
    <p th:text = "${skintype}"></p>
    <p th:text = "${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <th:block>
        <table>
            <tr>
                <td>
                    <p th:each="facial : ${appropriateFacials}" th:text = "${facial}"></p>
                </td>
            </tr>
        </table>
    </th:block>
    <div>
        <th:block th:switch = "${manipedi}">
            <h3 th:if = '${manipedi.equals("manicure")}'> <p th:replace = "fragments :: manicureDescription"> </p></h3>
            <h3 th:if = '${manipedi.equals("pedicure")}'> <p th:replace = "fragments :: pedicureDescription"> </p></h3>

        </th:block>
    </div>
</div>
</body>
</html>